<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜗牛笔记</title>
    <meta name="viewport" content="width=device-width,initila-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/woniunote.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/open-iconic/1.0.0/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>

</head>
<body>
    <div class="header">
        <div class="container" >
            <div class="row">
                <div class="col-5" style="padding-top: 10px;"><img src="/img/logo-note.png" alt="" width="190px "></div>
                <div class="col-7 d-none d-sm-block"  style="text-align: right;padding-top: 10px;">
                    <h2>以蜗牛之名，行学习之实</h2>
                </div>
                <div class="col-7 d-sm-none" style="text-align: right;padding-top: 10px;">
                    <h2>技术博客</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu" style="margin-top: 10px;">
        <div class="container" style="background-color: #563d7c">
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar" style="background-color: #563d7c">
            <a class="navbar-brand" href="#">快捷导航</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typephp" href="/note/php-1">PHP开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typejava" href="/note/java-1">Java开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typepython" href="/note/python-1">Python开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeweb" href="/note/web-1">Web前端</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typetest" href="/note/test-1">测试开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeai" href="/note/ai-1">数据科学</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typesecurity" href="/note/security-1">网络安全</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeschool" href="/note/school-1">学院动态</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typephp" href="/note/php-1">登录</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typejava" href="/note/php-1">注册</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typepython" href="/note/php-1">用户中心</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9" style="border: none;">
                <div class="col-12 row article-detail" >
                    <div class="col-10 title">访谈:17年初识蜗牛，19年来校培训，他的入职月薪15K！</div>
                    <div class="col-2 favorite">
                        <label for=""><span class="oi oi-heart" aria-hidden="true"></span>收藏文本</label>
                    </div>
                    <div class="col-12 info">
                        作者：强官涛&nbsp;&nbsp;&nbsp;类型：学院动态&nbsp;&nbsp;&nbsp;
                	    类别：访谈&nbsp;&nbsp;&nbsp;日期：2020-08-18&nbsp;&nbsp;&nbsp;
                	    阅读：20 次&nbsp;&nbsp;&nbsp;消耗积分：0 分
                    </div>
                    <div class="col-12 content">
                    各位小伙伴，大家好~
                    今天给大家分享蜗牛学院天府校区软件测试班一位小蜗牛的就业故事。
                    他叫小胡，2011年毕业于成都**大学、电子信息工程专业，毕业后一直从事的是测试工作，后来在一次换工作中，被心仪的公司diss之后，选择了来蜗牛进行系统提升。
                    上个月，小胡进入就业阶段，在成都拿到了5家公司的offer，月薪均在13K以上。以下是他的个人分享。

                    ·  正  ·  文  ·  来  ·  啦  ·

                    各位同行和即将成为同行的老铁们，你们好！
                    我是来自蜗牛学院天府校区68期一只正在爬行的蜗牛，上个月入职了成都的一家科技公司，月薪15K+。
                    近日受就业郑老师的邀请，来和大家聊聊我所经历的培训和就业那点事儿，也算是对我在蜗牛之行的一个总结吧。文笔有限，偏颇之处请大家原谅。
                    </div>
                </div>
                <div class="col-12 row article-nav" >
                    <div>版权所有，转载本站文章请注明出处：蜗牛学院在线课堂， http://www.woniuxy.com/note/578</div>
                    <div>上一篇：
                	    <a href="/note/577">资讯:即便成都倾盆大雨，这群小蜗牛们也准时到达了教室！​</a>
                    </div>
                    <div>下一篇：
                	    <a href="/note/578">访谈:17年初识蜗牛，19年来校培训，他的入职月薪15K！</a>
                    </div>
                </div>
                <!--文章的评论-->
                <div class="col-12  article-comment row" >
                    <div class="row col-12">
                        <div class="col-2">
                            <label for="nickname">你的昵称</label>
                        </div>
                        <div class="col-10">
                            <input type="text" value="匿名用户" id="nickname" class="form-control">
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-2">
                            <label for="submit-content">你的留言</label>
                        </div>
                        <div class="col-10">
                            <textarea name="" class="form-control" id="submit-content"  placeholder="请在此留下你的真诚的、感人的、发自肺腑的赞美之词."></textarea>
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-12" style="text-align: right">
                            <button class="btn btn-primary" >提交评论</button>
                        </div>

                    </div>
                    <div></div>
                </div>
            </div>
            <!--右侧边栏-->
            <div class="col-12 col-sm-3" style="padding-top: 15px;padding-right:5px;">
                <!--搜索栏-->
                <div class="col-12 search-bar form-group row" style="background-color: black;padding: 10px 0px 10px 10px;margin-left: 1px;">
                    <div class="col-9" style="padding: 0px;padding-right: 5px;">
                        <input type="text" class="form-control"  placeholder="请输入关键字" />
                    </div>
                    <div class="col-3" style="text-align:right;line-height: 30px;padding-left: 5px;">
                        <button type="button" class="btn-primary btn" style="padding:5px;float: right">搜索</button>
                    </div>
                </div>
                <!--最新文章-->
                <div class="side col-12">
                    <div class="tip col-12">最新文章</div>
                    <ul>
                        <li><a href="/note/575">1. 资讯: 终于来了，蜗牛网校直播...</a></li>
                        <li><a href="/note/574">2. 访谈: 20年应届生，毕业即入...</a></li>
                        <li><a href="/note/573">3. 资讯: 在蜗牛学院就只有熬夜肝...</a></li>
                        <li><a href="/note/572">4. 实验: 核心实验：Selenium W...</a></li>
                        <li><a href="/note/571">5. 访谈: 蜗牛学院“拍了拍”你，...</a></li>
                        <li><a href="/note/570">6. 资讯: 蜗牛网校，PBET-7.0课...</a></li>
                        <li><a href="/note/569">7. 实验: 核心实验：利用Python...</a></li>
                        <li><a href="/note/568">8. 资讯: 如何进入互联网大厂？？...</a></li>
                        <li><a href="/note/567">9. 资讯: 那些关于培训班的刻板印...</a></li>
                    </ul>

                </div>
                <!--最新文章-->
                <div class="side col-12">
                    <div class="tip col-12">最多访问</div>
                    <ul>
                        <li><a href="/note/575">1. 资讯: 终于来了，蜗牛网校直播...</a></li>
                        <li><a href="/note/574">2. 访谈: 20年应届生，毕业即入...</a></li>
                        <li><a href="/note/573">3. 资讯: 在蜗牛学院就只有熬夜肝...</a></li>
                        <li><a href="/note/572">4. 实验: 核心实验：Selenium W...</a></li>
                        <li><a href="/note/571">5. 访谈: 蜗牛学院“拍了拍”你，...</a></li>
                        <li><a href="/note/570">6. 资讯: 蜗牛网校，PBET-7.0课...</a></li>
                        <li><a href="/note/569">7. 实验: 核心实验：利用Python...</a></li>
                        <li><a href="/note/568">8. 资讯: 如何进入互联网大厂？？...</a></li>
                        <li><a href="/note/567">9. 资讯: 那些关于培训班的刻板印...</a></li>
                    </ul>

                </div>

            </div>
                <div class="col-sm-12 col-12 left-side">
                    <div class="tip" style="border: solid 1px red;height: 200px;margin: 5px;">最新文章</div>
                    <div class="tip" style="border: solid 1px red;height: 200px;margin: 5px;">最新文章</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="border: solid 2px red;height: 150px;"></div>
</body>
</html>