<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜗牛笔记</title>
    <meta name="viewport" content="width=device-width,initila-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/woniunote.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>

</head>
<body>
    <div class="header">
        <div class="container" >
            <div class="row">
                <div class="col-5" style="padding-top: 10px;"><img src="/img/logo-note.png" alt="" width="190px "></div>
                <div class="col-7 d-none d-sm-block"  style="text-align: right;padding-top: 10px;">
                    <h2>以蜗牛之名，行学习之实</h2>
                </div>
                <div class="col-7 d-sm-none" style="text-align: right;padding-top: 10px;">
                    <h2>技术博客</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu" style="margin-top: 10px;">
        <div class="container" style="background-color: #563d7c">
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar" style="background-color: #563d7c">
            <a class="navbar-brand" href="#">快捷导航</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typephp" href="/note/php-1">PHP开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typejava" href="/note/java-1">Java开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typepython" href="/note/python-1">Python开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeweb" href="/note/web-1">Web前端</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typetest" href="/note/test-1">测试开发</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeai" href="/note/ai-1">数据科学</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typesecurity" href="/note/security-1">网络安全</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typeschool" href="/note/school-1">学院动态</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typephp" href="#" data-toggle="modal" data-target="#staticBackdrop">登录</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typejava" href="/note/php-1">注册</a></li>
                      <li style="float:left;margin-right:20px;"><a style="padding:0;" id="typepython" href="/note/php-1">用户中心</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </div>

    <div class="container">
        <div class="row">
            {%block content %}
            {%endblock%}
            <!--右侧边栏-->

                <div class="col-sm-12 col-12 left-side">
                    <div class="tip" style="border: solid 1px red;height: 200px;margin: 5px;">最新文章</div>
                    <div class="tip" style="border: solid 1px red;height: 200px;margin: 5px;">最新文章</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="border: solid 2px red;height: 150px;"></div>



<!--模态框-->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--在模态框内配置选项卡-->
            <div class="tabbable" id="tabs" style="background-color: #0c5460;height: 50px;padding: 5px 20px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active" id="login">
                        <a class="nav-link "  data-toggle="tab" href="#loginpanel" role="tab" aria-controls="home"
        aria-selected="true">
                            <h6>登录</h6>
                        </a>
                    </li>
                    <li class="nav-item" id="reg">
                        <a class="nav-link"  data-toggle="tab" href="#regpanel" role="tab" aria-controls="profile"
                            aria-selected="false">
                            <h6>注册</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <!--绘制登录窗口-->
            <div class="tab-content" style="padding: 15px 0">
                <div class="tab-pane container active" id="loginpanel" >
                    <div class="modal-content" >
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="loginname" class="col-4">登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7" placeholder="请输入你的邮箱地址：">
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7" placeholder="请输入你的登录密码：">
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4" >图片验证码：</label>
                                <input type="text" id="logincode" class="col-5 form-control" placeholder="请输入右侧的验证码">
                                <img  alt="" class="col-3" src="/vcode">
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">登录</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="regpanel" >
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="loginname" class="col-4">注册邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7" placeholder="请输入你的邮箱地址：">
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">注册密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7" placeholder="请输入你的注册密码：">
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4" >邮箱验证码：</label>
                                <input type="text" id="logincode" class="col-5 form-control" placeholder="请输入邮箱验证码">
                                <button type="button" class="btn-primary btn col-3">发送邮件</button>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <span>注册时请使用邮箱地址便于找回密码</span>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary">注册</button>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



</body>
</html>