
            <div class="col-12 col-sm-3" style="padding-top: 15px;padding-right:5px;">
                <!--搜索栏-->
                <div class="col-12 search-bar form-group row" style="background-color: black;padding: 10px 0px 10px 10px;margin-left: 1px;">
                    <div class="col-9" style="padding: 0px;padding-right: 5px;">
                        <input type="text" class="form-control"  placeholder="请输入关键字" />
                    </div>
                    <div class="col-3" style="text-align:right;line-height: 30px;padding-left: 5px;">
                        <button type="button" class="btn-primary btn" style="padding:5px;float: right">搜索</button>
                    </div>
                </div>
                <!--最新文章-->
                <div class="side col-12">
                    <div class="tip col-12">最新文章</div>
                    <ul>
                        <li><a href="/note/575">1. 资讯: 终于来了，蜗牛网校直播...</a></li>
                        <li><a href="/note/574">2. 访谈: 20年应届生，毕业即入...</a></li>
                        <li><a href="/note/573">3. 资讯: 在蜗牛学院就只有熬夜肝...</a></li>
                        <li><a href="/note/572">4. 实验: 核心实验：Selenium W...</a></li>
                        <li><a href="/note/571">5. 访谈: 蜗牛学院“拍了拍”你，...</a></li>
                        <li><a href="/note/570">6. 资讯: 蜗牛网校，PBET-7.0课...</a></li>
                        <li><a href="/note/569">7. 实验: 核心实验：利用Python...</a></li>
                        <li><a href="/note/568">8. 资讯: 如何进入互联网大厂？？...</a></li>
                        <li><a href="/note/567">9. 资讯: 那些关于培训班的刻板印...</a></li>
                    </ul>

                </div>
                <!--最新文章-->
                <div class="side col-12">
                    <div class="tip col-12">最多访问</div>
                    <ul>
                        <li><a href="/note/575">1. 资讯: 终于来了，蜗牛网校直播...</a></li>
                        <li><a href="/note/574">2. 访谈: 20年应届生，毕业即入...</a></li>
                        <li><a href="/note/573">3. 资讯: 在蜗牛学院就只有熬夜肝...</a></li>
                        <li><a href="/note/572">4. 实验: 核心实验：Selenium W...</a></li>
                        <li><a href="/note/571">5. 访谈: 蜗牛学院“拍了拍”你，...</a></li>
                        <li><a href="/note/570">6. 资讯: 蜗牛网校，PBET-7.0课...</a></li>
                        <li><a href="/note/569">7. 实验: 核心实验：利用Python...</a></li>
                        <li><a href="/note/568">8. 资讯: 如何进入互联网大厂？？...</a></li>
                        <li><a href="/note/567">9. 资讯: 那些关于培训班的刻板印...</a></li>
                    </ul>

                </div>

            </div>